body{
    margin:auto;
}
#puzzle{
    width:600px;
    margin:auto;
}
.tile{
    background-image:url('kgf.jpg');
    width:200px;
    height:200px;
    float:left;
    border:1px solid silver;
    box-sizing:border-box;
}
#tile1 { background-position:0 0 }
#tile2 { background-position:-200px -0px }
#tile3 { background-position:-400px -0px }
#tile4 { background-position:-0 -200px }
#tile5 { background-position:-200px -200px }
#tile6 { background-position:-400px -200px }
#tile7 { background-position:-0 -400px }
#tile8 { background-position:-200px -400px }
#tile9 { background-position:-400px -400px }

#popup{
position:absolute;
width:100%;
background:rgba(0,0,0,0.5);
top:35%;
text-align:center;
color:rgb(248, 115, 7);
padding:20px;
}

.btn{
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 80px;
    background-color: #D4EE9F;
    color: #003333;
    outline: none;
    cursor: pointer;
  
}